---
import "../../assets/styles/Popup.scss";
// import CouponPopup from "../../assets/images/anniversary-popup.png";
import CouponPopup from '../../assets/images/coupon-popup-RO10.png'
---

<div
  class="modal fade"
  id="newYearsEveModal"
  tabindex="-1"
  aria-label="New Year's Eve 2025 - Join the celebration"
  aria-hidden="true"
  data-bs-theme="dark"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center shadow-lg">
      <button
        type="button"
        class="btn-close position-absolute end-0 top-0 m-3"
        data-bs-dismiss="modal"
        aria-label="Close"></button>
      <a href="https://nye.rosieogradys.com">
        <img
          src={CouponPopup.src}
          data-mdb-img={CouponPopup.src}
          alt="Join the celebration in the heart of Times Square!"
          class="w-100"
        />
      </a>
    </div>
  </div>
</div>

<script>
  // @ts-ignore
  import bootstrap from "bootstrap/dist/js/bootstrap.bundle.min.js";

  const modalElement = document.getElementById("newYearsEveModal");
  const modalDelay = 2000;

  if (modalElement) {
    const modal = new bootstrap.Modal(modalElement, {
      keyboard: false,
    });
    setTimeout(() => {
      modal.show();
    }, modalDelay);
  }
</script>
