---
import RestaurantMenu from "../classes/RestaurantMenu";

interface Props {
  menu: RestaurantMenu;
}

const { menu } = Astro.props;
---

<div class="restaurant-menu-group">
  <h2>{menu.name}</h2>

  {
    menu.categories.map((category) => (
      <div>
        <h3>{category.name}</h3>
        <hr />
        <ul>
          {category.dishes.map((dish) => (
            <li>
              <span>{dish.name}</span>
              {dish.description && <span>{dish.description}</span>}
            </li>
          ))}
        </ul>
      </div>
    ))
  }
</div>

<style lang="scss">
  @import "../assets/styles/_colors.scss";

  .restaurant-menu-group {
    padding: 15px;

    h2 {
      font-size: 1.5rem;
      text-align: center;
    }

    h3 {
      font-size: 1.25rem;
      margin-top: 20px;
    }

    h2,
    h3 {
      color: $primary;
      font-weight: bold;
    }

    hr {
      margin-left: 0;
      border-color: $primary;
      opacity: 1;

      // If lg screen, max-width is 450
      @media (min-width: 992px) {
        max-width: 450px;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-top: 15px;

        span {
          display: block;
          color: white;

          &:first-child {
            font-size: 18px;
            font-weight: bold;
          }
        }
      }
    }
  }
</style>
