---
import InfoPages from "../../layouts/InfoPages.astro";
---

<InfoPages title="Party Platters">
    <section>
        <h1 class="text-uppercase text-center">Party Platters</h1>
        <p class="text-center">	Small Serves 4 People / Large Serves 12 People</p>
        <table class="table">
            <tbody>
                <tr>
                    <th class="text-uppercase">
                        Traditional
                    </th>
                    <th>
                        Small
                    </th>
                    <th>
                        Large
                    </th>
                </tr>
                <tr>
                    <td>
                        Butterflied Fried Shrimp, Spring Rolls, Fried Calamari, Vegetable Gyoza <br>
                        Dumplings, Chicken Tenders & Mozzarella Sticks 
                    </td>
                    <td>
                        $ 60	
                    </td>
                    <td>
                        $ 125
                    </td>
                </tr>
                <tr>
                    <th colspan="3" class="text-uppercase">
                        Buffalo wings
                    </th>
                </tr>
                <tr>
                    <td>
                        Wings, Celery & Carrot Sticks, Blue Cheese & Ranch Dressing
                    </td>
                    <td>$ 50</td>
                    <td>$ 110</td>
                </tr>
                <tr>
                    <th colspan="3" class="text-uppercase">
                        Crudite
                    </th>
                </tr>
                <tr>
                    <td>
                        Seasonal Vegetables with Russian and Blue Cheese Dips
                    </td>
                    <td>$ 45</td>
                    <td>$ 85</td>
                </tr>
                <tr>
                    <th colspan="3" class="text-uppercase">Angus beef sliders</th>
                </tr>
                <tr>
                    <td>24 Mini Burgers topped with Melted Cheddar & Barbecue Sauce</td>
                    <td></td>
                    <td>$ 135</td>
                </tr>
                <tr>
                    <th colspan="3" class="text-uppercase">Sliders and wings</th>
                </tr>
                <tr>
                    <td>12 Angus Mini Burger + 30 Buffalo Wings</td>
                    <td></td>
                    <td>$ 120</td>
                </tr>
                <tr>
                    <th colspan="3" class="text-uppercase">Chipotle grilled chicken sliders</th>
                </tr>
                <tr>
                    <td>Grilled Chicken Sliders with Chipotle Aioli, Avocado & Monterrey Jack</td>
                    <td></td>
                    <td>$ 125</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="mt-5">
        <h1 class="text-uppercase text-center">Specialty Platters</h1>
        <p class="text-center">Serves 15-20 People - <strong>Order Must Be Placed 24 Hrs Ahead</strong></p>

        <table class="table">
            <tbody>
                <tr>
                    <th class="text-uppercase">
                        Artisan cheese, fruit & crackers
                    </th>
                    <th>
                        Small
                    </th>
                    <th>
                        Large
                    </th>
                </tr>
                <tr>
                    <td>Assorted Platter</td>
                    <td></td>
                    <td>$ 225</td>
                </tr>
                <tr>
                    <th colspan="3" class="text-uppercase">Antipasti</th>
                </tr>
                <tr>
                    <td>Cured Specialty Meats, Marinated Vegetables & Mozzarella Balls</td>
                    <td></td>
                    <td>$ 165</td>
                </tr>
                <tr>
                    <th colspan="3" class="text-uppercase">Seafood</th>
                </tr>
                <tr>
                    <td>Jumbo Shrimp, Blue Point Oysters & Clams on the half shell</td>
                    <td></td>
                    <td>$ 275</td>
                </tr>
                <tr>
                    <th colspan="3" class="text-uppercase">Mediterranean</th>
                </tr>
                <tr>
                    <td>Hummus, Baba Ghanoush, Olives, Grape Leaves(v), Crudité & Pita  </td>
                    <td>$ 60</td>
                    <td>$ 105</td>
                </tr>
            </tbody>
        </table>
    </section>
</InfoPages>

<style>
    body {
        background-color: black;
        color: white;
    }

    section {
        margin-top: 20px;
    }

    section h2 {
        text-transform: uppercase;
        color: white;
        font-size: 1.5rem;
    }

    th {
        color: white;
        font-weight: bold;
    }

    td {
        color: white;
    }
</style>