---
import InfoPages from "../../layouts/InfoPages.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("es");
---

<InfoPages title={t("faq-general-instructions")}>
  <h1>{t("faq-general-instructions")}</h1>
</InfoPages>
