---
import ChildrenImg from "../../assets/images/services/children.jpg";
import DinnerImg from "../../assets/images/services/dinner.jpg";
import BeerImg from "../../assets/images/services/beers.png";
import cocktailImg from "../../assets/images/services/cocktails.png";
import dessertImg from "../../assets/images/services/desserts.png";
import LunchImg from "../../assets/images/services/lunch.jpg";
import WinesImg from "../../assets/images/services/wines.jpg";
import PlattersImg from "../../assets/images/services/platters.png";
import ValentineDay from "../../assets/images/services/valentine-day.png";
import { t } from "i18next";
import Service from "../Service.astro";

const services = [
{
    title: t("our-menus.valentine"),
    description: t("our-menus.valentine.description"),
    image: ValentineDay,
    linkToPDF: "Valentine2025.pdf",
    linkToMenu: "/Menus/ValentineMenu",
  },
  {
    title: t("our-menus.lunch"),
    description: t("our-menus.lunch.description"),
    image: LunchImg,
    linkToPDF: "lunch.pdf",
    linkToMenu: "/Menus/LunchMenu",
  },
  {
    title: t("our-menus.dinner"),
    description: t("our-menus.dinner.description"),
    image: DinnerImg,
    linkToPDF: "/dinner.pdf",
    linkToMenu: "/Menus/DinnerMenu",
  },
  {
    title: t("our-menus.bar"),
    description: t("our-menus.bar.description"),
    image: BeerImg,
    linkToPDF: "bar.pdf",
    linkToMenu: "/Menus/BarMenu",
  },
  {
    title: t("our-menus.children"),
    description: t("our-menus.children.description"),
    image: ChildrenImg,
    linkToPDF: "/children.pdf",
    linkToMenu: "/Menus/ChildrenMenu",
  },
  {
    title: t("our-menus.platters"),
    description: t("our-menus.platters.description"),
    image: PlattersImg,
    linkToPDF: "platters.pdf",
    linkToMenu: "/Menus/PlattersMenu",
  },
  {
    title: t("our-menus.cocktails"),
    description: t("our-menus.cocktails.description"),
    image: cocktailImg,
    linkToPDF: "cocktail.pdf",
    linkToMenu: "/Menus/CocktailMenu",
  },
  {
    title: t("our-menus.wines"),
    description: t("our-menus.wines.description"),
    image: WinesImg,
    linkToPDF: "wine.pdf",
    linkToMenu: "/Menus/WineMenu",
  },
  {
    title: t("our-menus.desserts"),
    description: t("our-menus.desserts.description"),
    image: dessertImg,
    linkToPDF: "desserts.pdf",
    linkToMenu: "/Menus/DessertMenu",
  }
  
];
---

<section class="container-fluid" id="menus-section">
  <h1 data-aos="fade-up" class="text-center fw-bold mb-4">
    {t("our-menus")}
  </h1>

  <div class="row">
    {
      services.map((service, index) => {
        const animationDelay = index * 100;
        return (
          <div
            class="col-12 col-sm-6 col-lg-3 mb-3 px-2"
            data-aos="fade-up"
            data-aos-delay={animationDelay}
          >
            <Service {...service} />
          </div>
        );
      })
    }
  </div>
</section>

<style>
  .container-fluid {
    padding: 0 30px !important;
  }
</style>
