---
import { Image } from "@astrojs/image/components";
import ourPartyCircles from "../../data/ourPartyCircles";
---

<section class="container">
  <h2 class="text-center mb-5" data-aos="fade-up">Our Party</h2>

  <div class="row">
    {
      ourPartyCircles.map((circle, i) => {
        const animationDelay = i * 200;
        return (
          <div
            class="col-12 col-md-4 d-flex justify-content-center mt-5"
            data-aos="fade-up"
            data-aos-delay={animationDelay}
          >
            <Image src={circle.img} alt={circle.alt} width={150} height={150} />
          </div>
        );
      })
    }
  </div>
</section>
