<section id="reservations-section" class="container text-center">
  <h1>Reservations</h1>
  <p>
    <strong>Rosie O' Grady's</strong><br />
    800 7th Avenue <br />
    at 52nd St <br />
    New York, NY 10019 <br />
  </p>
  <p>
    Tel: <a href="tel:212-582-2975">212-582-2975</a>
    <br />
    Email: <a href="mailto:info@rosieogradys.com">info@rosieogradys.com</a>
  </p>
  <p>
    <strong>Kitchen</strong><br />
    Sun to Tue 11:30AM - 11PM <br />
    Wed to Sat 11:30AM - 12AM
  </p>
  <p>
    <strong>Rosie O' Grady's</strong><br />
    Mon to Sun 11:30AM - 2AM
  </p>
  <p>
    <strong>Bar Hours</strong><br />
    Mon to Sun 11:30AM - 2AM
  </p>

  <!-- OpenTable Reservation frame -->
  <script
    is:inline
    type="text/javascript"
    src="//www.opentable.com/widget/reservation/loader?rid=13744&type=standard&theme=standard&iframe=true&domain=com&lang=en-US&newtab=false&ot_source=Restaurant%20website"
  ></script>

  <a href="#contact-us-section" class="btn btn-primary text-uppercase px-4 py-3 mt-4">News Signup</a>
</section>
