---
import RestaurantMenu from "../RestaurantMenu.astro";
import generalMenu from "../../data/generalMenu";
import { localizePath } from "astro-i18next";
import glutenFreeMenu from "../../data/glutenFreeMenu";
import vegetarianMenu from "../../data/vegetarianMenu";
import { t } from "i18next";
---

<section class="container-fluid" id="menus-section">
  <h1 class="text-center">{t("party-menu-tickets")}</h1>
  <p class="text-center">
    {t("party-menu-tickets.description")}
  </p>
  <a
    href={localizePath("/faq")}
    class="d-block text-center">{t("faq-general-instructions")}</a
  >

  <div class="row mt-5">
    <div class="col-12 col-lg-4">
      <RestaurantMenu menu={generalMenu} />
    </div>
    <div class="col-12 col-lg-4">
      <RestaurantMenu menu={glutenFreeMenu} />
    </div>
    <div class="col-12 col-lg-4">
      <RestaurantMenu menu={vegetarianMenu} />
    </div>
    <div class="col-12 mt-4 d-flex justify-content-center">
      <a href="#" class="btn btn-primary px-4 py-3 text-uppercase">{t("common.tickets")}</a>
    </div>
  </div>
</section>
