---
import RestaurantMenu from "../RestaurantMenu.astro";
import generalMenu from "../../data/generalMenu";
import { localizePath } from "astro-i18next";
import glutenFreeMenu from "../../data/glutenFreeMenu";
import vegetarianMenu from "../../data/vegetarianMenu";
---

<section class="container-fluid">
  <h1 class="text-center">Party, Menus and Tickets</h1>
  <p class="text-center">
    An amazing opportunity to join the Times Square Ball Drop Count Down without
    waiting on the street for hours! Instead enjoy an all-inclusive 5 hour party
    with gourmet dinner, premium open bar, dancing on two floors, a special show
    by the duo Acute Inflections, and a view of bustling Times Square. Dance the
    night away to the tunes of our DJs and, just before midnight, step out to
    our cordoned off sidewalk to experience the electrifying atmosphere of the
    crowd and join in the Count Down to welcome the New Year in the greatest
    city in the world!!
  </p>
  <a
    href={localizePath("/faq-general-instructions")}
    class="d-block text-center">FAQ - General Instructions</a
  >

  <div class="row mt-5">
    <div class="col-12 col-lg-4">
      <RestaurantMenu menu={generalMenu} />
    </div>
    <div class="col-12 col-lg-4">
      <RestaurantMenu menu={glutenFreeMenu} />
    </div>
    <div class="col-12 col-lg-4">
      <RestaurantMenu menu={vegetarianMenu} />
    </div>
    <div class="col-12 mt-4 d-flex justify-content-center">
      <a href="#" class="btn btn-primary px-4 py-3 text-uppercase">Tickets</a>
    </div>
  </div>
</section>
