---
import FashionWeekImg from "../../assets/images/upcoming-events/upcoming-events-3.jpg";
import CelebrateImg from "../../assets/images/upcoming-events/upcoming-events-4.jpg";
import AdvertisingWeekImg from "../../assets/images/upcoming-events/upcoming-events-1.jpg";
import NYEImg from "../../assets/images/upcoming-events/upcoming-events-2.jpg";
import NYCRestaurantWeek from "../../assets/images/upcoming-events/Restaurant-Week.png"
import DogShow from "../../assets/images/upcoming-events/Dog-Show.png"
import AcuteInflectionShow from "../../assets/images/upcoming-events/Acute-Inflections-Show.png"
import LotrConcert from "../../assets/images/upcoming-events/LOTR-Concert.png"
import Service from "../Service.astro";
import { t } from "i18next";

const events = [
  {
    title: "Restauran Week",
    description: `Taste The Best Of NYC.
    <br /><br />
    During NYC Restaurant Week®, sample a variety of cuisines
    <br /><br />
    For more information, click <a href="https://www.nyctourism.com/restaurant-week/" target="_Blank">here</a>.`,
    image: NYCRestaurantWeek,
    textStyle: "top: 0;",
  },
  {
    title: "Dog show",
    description: `JOIN US FOR THE 149TH ANNUAL
    <br /><br />
    <h3>Westminster</h3>
    KENNEL CLUB DOG SHOW
    <br /><br />
    Get tickets now<a href="https://www.westminsterkennelclub.org/westminster-week/" target="_Blank">here</a>.`,
    image: DogShow,
    textStyle: "top: 0;",
  },
  {
    title: "The Valentine’s Day Concert at Manhattan Manor at Rosie O’Grady’s",
    description: `Soulful Sounds in NYC (2nd Set)
    <br /><br />
    Love & laughs
    <br /><br />
    For more information, click <a href="https://acuteinflections.com/product/02-14-2025-set2/" target="_Blank">here</a>.`,
    image: AcuteInflectionShow,
    textStyle: "top: 0;",
  },
  {
    title: "Concert at Radio City Music Hall",
    description: `Concert
    <br />
    <h3>The Lord of the Rings in Concert</h3> <br/>
    The Return of the King
    <br /><br />
    For more information, click <a href="https://www.msg.com/calendar/radio-city-music-hall-february-2025-the-lord-of-the-rings-in-concert" target="_Blank">here</a>.`,
    image: LotrConcert,
    textStyle: "top: 0;",
  },
];
---

<section class="container-fluid" id="upcoming-events-section">
  <h1 class="text-center fw-bold mb-4" data-aos="fade-up">
    {t("upcoming-events")}
  </h1>

  <div class="row">
    {
      events.map((event) => (
        <div class="col-12 col-sm-6 col-lg-3 mb-3">
          <Service {...event} />
        </div>
      ))
    }
    <div class="col-12 text-center text-uppercase mt-3">
      <a
        class="text-light text-decoration-none"
        rel="noopener noreferrer"
        target="_blank"
        href="https://linktr.ee/manhattanmanor"
        >{t("upcoming-events.view-all")}</a
      >
    </div>
  </div>
  <a href="https://linktr.ee/rosieogradys" class="mt-5 text-center d-block">
    {t("upcoming-events.view-all")}
  </a>
</section>
