---
import ManhattanMain from "../../assets/images/venues/manhattan-manor/manhattan-manor.jpg";
import BroadWayRoom from "../../assets/images/venues/broadway-room/broadway-room.jpg";
import TaftBar from "../../assets/images/venues/taft-bar/taft-bar.jpg";
import PrivateDinningRoom from "../../assets/images/venues/private-dinning-room/private-dinning-room.jpg";
import Venue from "../Venue.astro";
import { t } from "i18next";

const skylightGallery = (
  await Astro.glob("../../assets/images/venues/skylight/*.jpg")
).map((image) => image.default);
const manhattanClubGallery = (
  await Astro.glob("../../assets/images/venues/manhattan-club/*.jpg")
).map((image) => image.default);

const manhattanGallery = (
  await Astro.glob("../../assets/images/venues/manhattan-manor/*.jpg")
).map((image) => image.default);
const broadWayRoomGallery = (
  await Astro.glob("../../assets/images/venues/broadway-room/*.jpg")
).map((image) => image.default);
const taftBarGallery = (
  await Astro.glob("../../assets/images/venues/taft-bar/*.jpg")
).map((image) => image.default);
const privateDinningRoomGallery = (
  await Astro.glob("../../assets/images/venues/private-dinning-room/*.jpg")
).map((image) => image.default);


const rosieVenues = [
  {
    id: 1,
    name: "Manhattan Manor",
    mainImage: ManhattanMain,
    gallery: manhattanGallery,
    viewVirtualTour: "https://rosieogradys.com/private-event",
    description: `
    <h4>${t("venues.size")}</h4>
    <ul>
      <li>2,520 ${t("venues.square-feet")} - 70 x 36 Feet</li>
    </ul>
    <h4>${t("venues.capacity")}</h4>
    <ul>
      <li>150 ${t("venues.cocktail")}</li>
      <li>130 ${t("venues.seated")}</li>
      <li>110 ${t("venues.buffet")}</li>
      <li>160 ${t("venues.theater")}</li>
      <li>120 ${t("venues.theater-with-refreshments")}</li>
    </ul>
    `,
  },
  {
    id: 2,
    name: "Broadway Room",
    mainImage: BroadWayRoom,
    gallery: broadWayRoomGallery,
    viewVirtualTour: "https://rosieogradys.com/private-event",
    description: `
    <h4>${t("venues.size")}</h4>
    <ul>
      <li>950 ${t("venues.square-feet")} - 24 x 40 Feet</li>
    </ul>
    <h4>${t("venues.capacity")}</h4>
    <ul>
      <li>100 ${t("venues.cocktail")}</li>
      <li>80 ${t("venues.seated")}</li>
      <li>70 ${t("venues.buffet")}</li>
      <li>100 ${t("venues.theater")}</li>
      <li>100 ${t("venues.theater-with-refreshments")}</li>
    </ul>
    `,
  },
  {
    id: 3,
    name: "Taft Bar",
    mainImage: TaftBar,
    gallery: taftBarGallery,
    viewVirtualTour: "https://rosieogradys.com/private-event",
    description: `
    <h4>${t("venues.size")}</h4>
    <ul>
      <li>480 ${t("venues.square-feet")} - 24 x 20 Feet</li>
    </ul>
    <h4>${t("venues.capacity")}</h4>
    <ul>
      <li>40 ${t("venues.cocktail")}</li>
    </ul>
    `,
  },
  {
    id: 4,
    name: "Private Dining Room",
    mainImage: PrivateDinningRoom,
    gallery: privateDinningRoomGallery,
    viewVirtualTour: "https://rosieogradys.com/private-event",
    description: `
    <h4>${t("venues.size")}</h4>
    <ul>
      <li>288 ${t("venues.square-feet")} - 24 x 12 Feet</li>
    </ul>
    <h4>${t("venues.capacity")}</h4>
    <ul>
      <li>24 ${t("venues.long-table")}</li>
      <li>45 ${t("venues.individual-table")}</li>
    </ul>
    `,
  },
];
---

<section class="container" id="venues-section">
  <h1 data-aos="fade-up">{t("venues")}</h1>

  <p data-aos="fade-up">
    {t("rosie-pub-broadway-room.description")}
  </p>

  <div class="row venues">
    {
      rosieVenues.map((venue) => (
        <div class="col-12 col-md-6 d-flex justify-content-center mb-5">
          <Venue {...venue} />
        </div>
      ))
    }
  </div>

  <a
    href="https://www.youtube.com/watch?v=WC94nGWjqvM"
    target="_blank"
    class="video-suit d-block mt-5">{t("hd-video-suit")}</a
  >

  <a href="#contact-us-section" class="d-block mt-5">{t("private-event")}</a>
</section>

<style lang="scss">
  .container {
    margin-top: 180px;
    margin-bottom: 60px;
    text-align: center;
  }

  p {
    max-width: 900px;
    margin: 0 auto;
  }

  .video-suit {
    color: rgb(17, 17, 17);
    font-weight: bold;
  }

  .venues {
    margin-top: 60px;
    margin-bottom: 60px;
  }
</style>
