---
import skylightMain from "../../assets/images/venues/skylight/main.webp";
import manhattanClubMain from "../../assets/images/venues/manhattan-club/main.webp";
import restaurantMain from "../../assets/images/venues/restaurant/main.jpg";
import pubMain from "../../assets/images/venues/the-pub/main.jpg";
import broadwayMain from "../../assets/images/venues/broadway/main.jpg";
import skylightFloorplans from "../../assets/documents/floorplan-skylight.pdf";
import manhattanClubFloorplans from "../../assets/documents/floorplan-manhattan-club.pdf";
import Venue from "../Venue.astro";
import { t } from "i18next";

const skylightGallery = (
  await Astro.glob("../../assets/images/venues/skylight/*.jpg")
).map((image) => image.default);
const manhattanClubGallery = (
  await Astro.glob("../../assets/images/venues/manhattan-club/*.jpg")
).map((image) => image.default);

const mmVenues = [
  {
    id: 1,
    name: "Skylight Room",
    mainImage: skylightMain,
    floorPlans: skylightFloorplans,
    video: "https://www.youtube.com/embed/zVe3RrmbNjw",
    gallery: skylightGallery,
    description: `
    <h4>${t("venues.size")}</h4>
    <ul>
      <li>3,408 ${t("venues.square-feet")}</li>
    </ul>
    <h4>${t("venues.capacity")}</h4>
    <ul>
      <li>275 ${t("venues.cocktail-reception")}</li>
      <li>275 ${t("venues.seated-dinner")}</li>
      <li>250 ${t("venues.seated-dinner-dance-floor")}</li>
      <li>125 ${t("venues.classroom-conference")}</li>
      <li>225 ${t("venues.theatre-seating")}</li>
      <li>120 ${t("venues.u-shape-conference")}</li>
    </ul>
    `,
  },
  {
    id: 2,
    name: "Manhattan Club",
    mainImage: manhattanClubMain,
    floorPlans: manhattanClubFloorplans,
    video: "https://www.youtube.com/embed/zVe3RrmbNjw",
    gallery: manhattanClubGallery,
    description: `
    <h4>${t("venues.size")}</h4>
    <ul>
      <li>3,520 ${t("venues.square-feet")}</li>
    </ul>
    <h4>${t("venues.capacity")}</h4>
    <ul>
      <li>280 ${t("venues.cocktail-reception")}</li>
      <li>250 ${t("venues.seated-dinner")}</li>
      <li>200 ${t("venues.seated-dinner-dance-floor")}</li>
      <li>100 ${t("venues.classroom-conference")}</li>
      <li>200 ${t("venues.theatre-seating")}</li>
      <li>120 ${t("venues.u-shape-conference")}</li>
    </ul>
    `,
  },
];

const restaurantVenues = [
  {
    id: 3,
    name: "The Restaurant",
    mainImage: restaurantMain,
    floorPlans: skylightFloorplans,
    video: "https://youtu.be/zVe3RrmbNjw",
    gallery: skylightGallery,
    description: `
    <h4>${t("venues.size")}</h4>
    <ul>
      <li>3,408 ${t("venues.square-feet")}</li>
    </ul>
    <h4>${t("venues.capacity")}</h4>
    <ul>
      <li>275 ${t("venues.cocktail-reception")}</li>
      <li>275 ${t("venues.seated-dinner")}</li>
      <li>250 ${t("venues.seated-dinner-dance-floor")}</li>
      <li>125 ${t("venues.classroom-conference")}</li>
      <li>225 ${t("venues.theatre-seating")}</li>
      <li>120 ${t("venues.u-shape-conference")}</li>
    </ul>
    `,
  },
];

const rosieVenues = [
  {
    id: 4,
    name: "The Pub",
    mainImage: pubMain,
    floorPlans: skylightFloorplans,
    video: "https://www.youtube.com/embed/zVe3RrmbNjw",
    gallery: skylightGallery,
    description: `
    <h4>${t("venues.size")}</h4>
    <ul>
      <li>3,408 ${t("venues.square-feet")}</li>
    </ul>
    <h4>${t("venues.capacity")}</h4>
    <ul>
      <li>275 ${t("venues.cocktail-reception")}</li>
      <li>275 ${t("venues.seated-dinner")}</li>
      <li>250 ${t("venues.seated-dinner-dance-floor")}</li>
      <li>125 ${t("venues.classroom-conference")}</li>
      <li>225 ${t("venues.theatre-seating")}</li>
      <li>120 ${t("venues.u-shape-conference")}</li>
    </ul>
    `,
  },
  {
    id: 5,
    name: "Broadway room",
    mainImage: broadwayMain,
    floorPlans: manhattanClubFloorplans,
    video: "https://www.youtube.com/embed/zVe3RrmbNjw",
    gallery: manhattanClubGallery,
    description: `
    <h4>${t("venues.size")}</h4>
    <ul>
      <li>3,520 ${t("venues.square-feet")}</li>
    </ul>
    <h4>${t("venues.capacity")}</h4>
    <ul>
      <li>280 ${t("venues.cocktail-reception")}</li>
      <li>250 ${t("venues.seated-dinner")}</li>
      <li>200 ${t("venues.seated-dinner-dance-floor")}</li>
      <li>100 ${t("venues.classroom-conference")}</li>
      <li>200 ${t("venues.theatre-seating")}</li>
      <li>120 ${t("venues.u-shape-conference")}</li>
    </ul>
    `,
  },
];
---

<section class="container" id="venues-section">
  <h1 data-aos="fade-up">{t("venues")}</h1>
  <p data-aos="fade-up">
    <span class="d-block mb-3">Manhattan Manor</span>
    {t("venues.description")}
  </p>

  <div class="row venues">
    {
      mmVenues.map((venue) => (
        <div class="col-12 col-md-6 d-flex justify-content-center">
          <Venue {...venue} />
        </div>
      ))
    }
  </div>

  <p data-aos="fade-up">
    <span class="d-block mb-3 fw-bold">The Restaurant</span>
    Join us at Rosie O'Grady's Steak & Seafood House starting at 9 pm for five hours
    of Premium Open Bar, a Five Course Gourmet Dinner, and Music & Dancing!! Celebrate
    all night with a fun crowd and just before midnight, step out onto our cordoned
    off sidewalk and join in the Times Square Ball Drop Count Down.
  </p>

  <div class="row venues">
    <div class="col-12 d-flex justify-content-center">
      <Venue {...restaurantVenues[0]} />
    </div>
  </div>

  <p data-aos="fade-up">
    <span class="d-block mb-3 fw-bold">Rosie Pub & Broadway Room</span>
    Enjoy a casual evening before or after a theatrical show in Rosie's Pub located
    on our lower level. We offer a lighter menu of appetizers, sandwiches, and traditional
    favorites. Our enchanting Broadway Ballroom is private, complete with fireplace
    and satellite bar, accommodating up to 70 guests for either a sit-down dinner
    or cocktails. The space can be expanded by joining the adjacent Pub to accommodate
    more than 90 guests.
  </p>

  <div class="row venues">
    {
      rosieVenues.map((venue) => (
        <div class="col-12 col-md-6 d-flex justify-content-center">
          <Venue {...venue} />
        </div>
      ))
    }
  </div>

  <a href="#contact-us-section" class="d-block mt-5"
    >Host a Private Event at Rosie O'Grady's or Manhattan Manor</a
  >
</section>

<style lang="scss">
  .container {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
  }

  p {
    max-width: 900px;
    margin: 0 auto;
  }

  .venues {
    margin-top: 60px;
    margin-bottom: 60px;
  }
</style>
