---
import bannerVideo from "../../assets/videos/banner-video.mp4";
import logo from "../../assets/images/logo.svg";
import { t } from "i18next";
import { Image } from "@astrojs/image/components";
import { Trans } from "astro-i18next/components";
---

<div class="video-background">
  <video autoplay loop muted id="background-video">
    <source src={bannerVideo} type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</div>
<div class="banner-info">
  <Image
    src={logo}
    alt="Manhattan Manor Logo"
    width={114}
    height={180}
    loading="eager"
  />
  <p class="slogan">
    <Trans i18nKey="common.slogan">
      New Year's Eve Party <br />
      Street Live View of the Ball Drop <br />
      Times Square <br />
      New York City <br />
      2024
    </Trans>
  </p>
  <a href="#who-we-are-section" class="bounce" aria-label="Scroll down">
    <i class="bi bi-chevron-down"></i>
  </a>
  <p class="text-uppercase fs-3 fw-bold sold-out-msg">{t("common.event-sold-out")}</p>
  <button
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#waiting-list-modal">{t("common.join-waiting-list")}</button
  >
</div>

<style lang="scss">
  .sold-out-msg {
    color: red;
  }
  .slogan {
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
  }

  .video-background {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100vh;
  }

  .video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }

  .banner-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }

  .banner-info img {
    margin-bottom: 20px;
  }

  .bounce {
    display: block;
    color: white;
    font-size: 2rem;
    margin-top: 20px;
    animation: bounce 1.5s infinite;
    cursor: pointer;

    &:hover {
      color: #f5f5f5;
    }
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>
